<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace = "com.kyung.marondalgram.user.repository.UserRepository">
 	<insert id="addUserRepository" parameterType="com.kyung.marondalgram.user.domain.User">
 		INSERT INTO
 			`user`
 		(
 			`email`
 			, `realName`
 			, `nickName`
 			, `password`
 		)
 		VALUE
 		(
 			#{email}
 			, #{realName}
 			, #{nickName}
 			, #{password}
 		)
 	
 	</insert>
 	
 	<select id="emailDuplicateRepository" parameterType="string" resultType = "int">
 	  SELECT
 	      count(*)
 	  FROM
 	      `user`
 	  WHERE
 	      `email` = #{email}
 	
 	
 	</select>
 	
 	<select id="nickNameDuplicateRepository" parameterType="string" resultType = "int">
      SELECT
          count(*)
      FROM
          `user`
      WHERE
          `nickName` = #{nickName}
    
    
    </select>
    
    <select id="loginRepository" parameterType="string"
    resultType = "com.kyung.marondalgram.user.domain.User">
	    SELECT
	        `id`
	        , `email`
            , `realName`
            , `nickName`
            , `password`
            , `createdAt`
            , `updatedAt`
	    FROM
	        `user`
	    WHERE
	        `nickName` = #{loginId}
	        AND
	        `password` = #{password}
    
    
    </select>
    
    <select id="selectUserById" parameterType = "int"
    resultType = "com.kyung.marondalgram.user.domain.User">
    	SELECT
	        `id`
	        , `email`
            , `realName`
            , `nickName`
            , `password`
            , `createdAt`
            , `updatedAt`
	    FROM
	        `user`
	    WHERE
	    	`id` = #{id}
    </select>
    
    <select id="selectUserProfileById" parameterType="int"
    resultType = "com.kyung.marondalgram.user.domain.Profile">
    	SELECT
    		`id`
    		, `userId`
    		, `introduce`
    		, `profileImagePath`
    		, `createdAt`
    		, `updatedAt`
    	FROM
    		`profile`
    	WHERE
    		`userId` = #{id}
    
    
    </select>
 
 </mapper>