<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/createdefault}">
    
    <div layout:fragment="backBtn">
        <a href="#">이전</a>
    </div>
    
    <div layout:fragment="nextBtn">
        <a th:href="|/marondalgram/post/create/text-view?imagePath=${imagePath}|">다음</a>
    </div>
    
    <section layout:fragment="contents" class="createcontents d-flex justify-content-center align-items-center">
       <div>
            <img th:src="${imagePath}" class="imageCheck">
        </div>
    </section>
    
    <script layout:fragment = "script">
    	
    
    </script>
</html>