<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/createdefault}">
        
        
    <div layout:fragment="backBtn"></div>
    
    <div layout:fragment="nextBtn"></div>
        
    <section layout:fragment="contents" class="createcontents d-flex justify-content-center align-items-center">
       <div>
            <div class="d-flex justify-content-center">
		        <svg xmlns="http://www.w3.org/2000/svg" width="131" height="131" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
			        <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
			        <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z"/>
		        </svg>
	        </div>
	        <div class="mt-2">
	           <span class="addimage">사진과 동영상을 추가하세요.</span>
	        </div>
	        <div class="mt-2 d-flex justify-content-center">
	           <button type="button" class="btn btn-primary" id="fileInputBtn">컴퓨터에서 선택</button>
	           <input type="file" class="d-none" id="fileInput">
	        </div>
        </div>
        
        
    </section>
    
    
    <script layout:fragment = "script">
    	$(document).ready(function(){
    		// 파일 선택 모달(파일 선택 버튼 클릭 시 숨겨진 파일 인풋 버튼 누른 효과 내기)
    		$("#fileInputBtn").on("click", function(){
    			$("#fileInput").click();
    			
    			
    		}); // 파일 선택 버튼 종료
    		
    		// 파일 선택 모달2(파일 선택)
    		$("#fileInput").on("input", function(){
    			
    			
				let file = $("#fileInput")[0].files[0];
				
    			
    			let formData = new FormData();
    			formData.append("imageFile", file);
    			
    			$.ajax({
    				type:"post"
    				, url : "/marondalgram/post/create/imageSave"
    				, data : formData
    				, enctype : "multipart/form-data" // 파일 업로드 필수
    				, processData : false // 파일 업로드 필수
    				, contentType : false // 파일 업로드 필수
    				, success : function(data){
    					if(data.result == "success"){
    						// 게시글 이미지 체크 띄우기 모달
    						$("#makePostModalImage .custom-modal-body").load("/marondalgram/post/create/image-check-view?imagePath=" + data.imagePath);
    						$("#makePostModal").modal("hide");
    						$("#makePostModalImage").modal("show");
    					}else{
    						alert("파일 입력 실패");
    					}
    				}
    			, error : function(){
    				alert("파일 입력 에러");
    			}
    			}); // 파일선택 ajax 종료
    		}); // 파일 선택 시
    		
    	}) // 문서 준비 종료
    
    
    </script>
</html>