<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/createdefault}">
    
    <div layout:fragment="backBtn">
        <a href="#">이전</a>
    </div>
    
    <div layout:fragment="nextBtn">
        <a href="#">다음</a>
    </div>
    
    <section layout:fragment="contents" class="createcontents d-flex justify-content-center align-items-center">
       <div>
            <img src="https://cdn.pixabay.com/photo/2023/10/16/19/39/bird-8319973_1280.jpg" class="imageCheck">
        </div>
    </section>
</html>