<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>게시글 추가</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <!-- 전체 화면 -->
    <div id="createTextWrap" class="">
        <!-- 헤더 -->
        <header id="createHeader" class="d-flex align-items-center"> 
            <div class="col-1"><a href="#">이전</a></div>
            <div class="createHeaderText col-10 d-flex justify-content-center">새 게시물 등록</div>
            <div class="col-1"><a href="#">완료</a></div>
        </header>
        
        <!-- 본문 -->
        <section class="d-flex">
            <!-- 본문 이미지 -->
            <div class="createcontentsSection d-flex justify-content-center">
                <img th:src="${imagePath}" class="imageCheck">
            </div>
            
            <!-- 텍스트 본문 -->
            <div>
                <!-- 프로필 부분 -->
	            <div class="createTextProfileSection d-flex align-items-center pl-2">
	                <div class="smallProfile">
	                   <img class = "smallProfileImage" th:src = "${user.profileImagePath}">
	                </div>
	                <div class="smallNickName ml-2">
	                   <span th:text="${user.loginId}">nickname_sample</span>
	                </div>
	            </div>
	            
	            <!-- 본문 텍스트 입력 부분 -->
	            <div class="createTextBodySection d-flex justify-content-center align-items-center">
	               <textarea class="textInput" placeholder = "내용을 입력하세요."></textarea>
	            </div>
	            
	            <!-- 음악 선택 부분 -->
	            <div class="createMusicSection d-flex justify-content-center align-items-center">
	               <div>
	                   <div class="searchMusicText">음악 검색</div>
	                   <input type="search" class="searchMusic mt-2" placeholder ="음악을 검색하세요.">
	               </div>
	            </div>
            </div>
        </section>
    </div>




    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>