<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/createdefault}">
    
    <div layout:fragment="backBtn">
        <a href="#">이전</a>
    </div>
    
    <div layout:fragment="nextBtn">
        <a id="openMakePostModalText">다음</a>
    </div>
    
    <section layout:fragment="contents" class="createcontents d-flex justify-content-center align-items-center">
       <div>
            <img th:src="${imagePath}" class="imageCheck">
        </div>
    </section>
    
    <script layout:fragment = "script">
    $(document).ready(function(){
    	// 게시글 본문 모달
		$("#openMakePostModalText").on("click", function(){
			let imagePath = $(".imageCheck").attr("src");
			$("#makePostModalText .custom-modal-body").load("/marondalgram/post/create/text-view?imagePath=" + imagePath);
			$("#makePostModalImage").modal("hide");
			$("#makePostModalText").modal("show");
		})
    });
    
    </script>
</html>