@charset "UTF-8";

#wrap{
	width : 1440px;
	height : 1024px;
	margin : 0 auto; 
}


.joinContents{
	width : 452px;
	height : 642px;
	padding : 53px 61px 54px;
	border-radius : 29px;
}

.loginjoin{
	margin-top : 12px;
	width : 452px;
	height : 134px;
	border-radius : 29px;
	font-size : 20px;
}

.logoheader{
	font-size : 30px;
}

.description-join{
	width : 222px;
    height : 47px;
    font-size : 17px;
}

.email-form{
	margin-top : 37px;
}

.duplicate-btn{
	margin-left : 6px;
}

.input-form-join{
	margin-top : 13px;
}

.description-more-join{
	width : 276px;
	height : 72px;
	margin-top : 26px;
	font-size : 12px;
}

.join-button{
	margin-top : 26px;
}

.login-image{
	width : 419px;
	height : 633px;
}
.loginsection{
	margin-left : 16px;
}
.loginContents{
	width : 452px;
	height : 487px;
	padding : 64px 61px 65px;
	border-radius : 29px;
}

.find-password{
	margin-top : 26px;
}

#createWrap{
	width : 745px;
	height : 760px;
	margin : 0 auto;
	border-radius : 32px;
	overflow: hidden
}

#createHeader{
	height : 60px;
	border-bottom : solid 1px #757575;
}

.createHeaderText{
	font-size : 24px;
	font-weight : bold;
}

.createcontents{
	height : 699px;
}

.createcontentsSection{
	width : 699px;
	height : 699px;
	overflow: hidden
}

#createTextWrap{
	width : 1000px;
	height : 760px;
	margin : 0 auto;
    border-radius : 32px;
    overflow: hidden
}

.addimage{
	font-size : 24px;
}

.imageCheck{
	height: 699px;
}

.createTextProfileSection{
	width : 301px;
	height : 71px;
}

.createTextBodySection{
	width : 301px;
	height : 505px;
}

.createMusicSection{
	width : 301px;
	height : 122px;
}
